/*----😂😂😂😂😂 this is fu****ing shit code and this code just for design ----*/
/*---- this is fu****ing shit code and this code just for design ----*/
/*---- this is fu****ing shit code and this code just for design ----*/
/*---- this is fu****ing shit code and this code just for design ----*/
/*---- this is fu****ing shit code and this code just for design ----*/
body {
  background-color: rgba(28, 3, 168, 0.09);
  color: #212372d9;
  display: flex;
  font-family: roboto;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
}

a {
  text-decoration: none;
  color: inherit;
}

.one {
  position: relative;
  width: 40%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  background-image: linear-gradient(#5219681c, #1b198811);
}

.circles {
  display: flex;
  justify-content: space-between;
  width: 45px;
  height: 10px;
  position: absolute;
  left: 10px;
  top: 12px;
}

.circles span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.circle1 {
  background-color: rgb(214, 16, 99);
}

.circle2 {
  background-color: rgb(255, 116, 36);
}

.circle3 {
  background-color: rgb(10, 209, 116);
}

.name {
  position: absolute;
  top: 4px;
  padding: 5px;
  box-shadow: 1px 1px 50px #503ab026;
  border-radius: 1px;
  max-width: 280px;
}

.name span {
  font-size: 15px;
  color: #3d3e84;
  font-weight: 500;
}

.image img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50%;
}

h1 {
  margin: 10px 0px 30px;
  text-align: center;
  font-size: 26px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media screen and (max-width: 1050px) {
  .name{
    max-width: 200px;
  }
  h1{
    font-size: 20px;
  }
}
@media screen and (max-width: 880px) {
  .name{
    width: 100%;
    max-width: 90%;
    top: 50px;
  }
}
@media screen and (max-width: 488px) {
  .name span{
    font-size: 12px;
  }
  h1{
    font-size: 16px;
    max-width: 180px;
  }
}
/*---- END fu****ing shit code ----*/
/*---- END fu****ing shit code ----*/
/*---- END fu****ing shit code ----*/
/*---- 😂END fu****ing shit code😂 ----*/

/*---- This is main code😂👍 ----*/
/*---- This is main code😂👍 ----*/
/*---- This is main code😂👍 ----*/
/*---- This is main code😂👍 ----*/
/*---- This is main code😂👍 ----*/
/*---- This is main code😂👍 ----*/
/*---- This is main code😂👍 ----*/
/*----❤️❤️❤️ Use this code for button ❤️❤️❤️----*/

label {
  display: flex;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 600;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  align-items: center;
}
label:not(:last-child) {
  margin-bottom: 40px;
}
label .l {
  margin-left: 20px;
}

input {
  opacity: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  z-index: -1;
}
input:checked ~ i {
  background: #29c233;
}
input:checked ~ i:after {
  left: 50%;
  background: whitesmoke;
}

i {
  outline: 0;
  display: block;
  width: 1em;
  height: .5em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #c9d6de;
  border-radius: 2em;
  padding: 2px;
  transition: all 0.2s ease;
}
i:after, i:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
i:after {
  left: 0;
  border-radius: 50%;
  background: #f0f5f9;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 5px rgba(110, 110, 110, 0.164);
}
i:before {
  display: none;
}
